.alert-primary {
    background: linear-gradient(to right, #96eaff, #dfe4e6);
}

.btn-proceed {
    height: 4vh;
    font-size: 1.3rem;
    color: white;
    background-color: green;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.btn-proceed:hover {
    transform: scale(1.1);
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}