<div class="custom-container">
    <mat-card>
        <mat-card-content>

            <h2 class="text-center">Panel administracyjny</h2>

            <hr class="my-5">

            <div class="row">
                <div class="col-md-3">
                    <mat-card class="users" routerLink="/users-list">
                        <mat-card-content>
                            <h4 class="text-center">Użytkownicy</h4>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="airplanes" routerLink="/aircrafts-list">
                        <mat-card-content>
                            <h4 class="text-center">Samoloty</h4>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="flights">
                        <mat-card-content>
                            <h4 class="text-center">Plany lotów</h4>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="config">
                        <mat-card-content>
                            <h4 class="text-center">Konfiguracja</h4>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>