<div class="container">
    <mat-card class="main-card">
        <mat-card-content>
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center mt-3">Flight planner - sprawdź czy możesz bezpiecznie wykonać swój lot GA</h3>
                <img src="./images/airplane.png" alt="airplane" class="icon airplane">
            </div>

            <hr>

            <div>
                <app-insert-fly-data></app-insert-fly-data>
            </div>
        </mat-card-content>
    </mat-card>
</div>