<div class="container">
    <mat-card class="main-card">
        <mat-card-content>
            <div class="row">
                <div class="col-lg-11">
                    <h1 class="text-center mt-3">FLIGHT PLANNER</h1>
                </div>
                <div class="col-lg-1 text-center">
                    <img src="./images/airplane.png" alt="airplane" class="icon airplane">
                </div>
            </div>
            <div class="alert alert-primary text-center mb-5">
                <h4>Sprawdź czy warunki pogodowe pozwalają na bezpieczne wykonanie twojego lotu</h4>
                <p>Aplikacja pomaga pilotowi podjąć decyzję o wykonaniu lotu, biorąc pod uwagę aktualną obserwację
                    pogodową METAR oraz prognozę TAF dla wybranych lotnisk. Uwzględnia datę i godzinę planowanego
                    startu oraz przewidywany czas trwania lotu.
                </p>
            </div>

            <div class="mb-3">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                </div>
            </div>

            <app-insert-fly-data></app-insert-fly-data>

        </mat-card-content>
    </mat-card>
</div>