<nav class="navbar fixed-top navbar-expand-md navbar-toggleable-md bg-white navbar-light border-bottom shadow mb-3">
    <div class="container-fluid">

        <button mat-raised-button class="m-2 login" routerLink="/home">
            <img src="./images/airplane.png" alt="airplane" class="icon">
            STRONA GŁÓWNA
        </button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-md-inline-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <button mat-raised-button class="m-2" routerLink="/flight-plans"
                        *ngIf="authService.isLoggedIn()">
                        <img src="./images/panel.png" alt="person" class="icon">
                        HISTORIA ZAPYTAŃ
                    </button>
                </li>
            </ul>

            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                    <button mat-raised-button class="m-2" routerLink="/register">
                        <img src="./images/register.png" alt="login" class="icon">
                        ZAŁÓŻ KONTO
                    </button>
                </li>
                <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                    <button mat-raised-button class="m-2" routerLink="/login">
                        <img src="./images/auth-login.png" alt="login" class="icon">
                        ZALOGUJ
                    </button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button class="m-2" disabled="true"
                        *ngIf="authService.isLoggedIn()" matTooltip="Kliknij, aby wylogować">
                        Zalogowano: {{ userName }}
                    </button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button class="m-2" (click)="authService.logout()"
                        *ngIf="authService.isLoggedIn()"
                        matTooltip="Kliknij, aby wylogować">
                        <img src="./images/man.png" alt="person" class="icon">
                        WYLOGUJ
                    </button>
                </li>
            </ul>


        </div>
    </div>
</nav>