<div class="custom-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>Historia zapytań</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Data startu</th>
                        <th scope="col">Lotnisko startu</th>
                        <th scope="col">Lotnisko docelowe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flightPlan of flightPlans">
                        <td>{{ flightPlan.departureTime }}</td>
                        <td>{{ flightPlan.departureAirport }}</td>
                        <td>{{ flightPlan.arrivalAirport }}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>