<div class="custom-container">
    <mat-card class="main-card">
        <mat-card-content>

            <div *ngIf="isLoading">
                <h4 class="text-center">
                    <img src="./images/airplane.png" alt="person" class="icon">
                    Pobieranie danych pogodowych...
                </h4>
                <div class="my-4">
                    <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
            </div>

            <div class="mb-3">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                </div>
            </div>

            <div *ngIf="!isLoading && flightPlan">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-card class="airport-card my-2">
                            <mat-card-content>
                                <h3 class="text-center">{{ flightPlan.departureAirport.name }}</h3>
                                <h5 class="text-center">{{ flightPlan.departureAirport.city }} {{
                                    flightPlan.departureAirport.country }},
                                    Kod ICAO: {{ flightPlan.departureAirport.icao }}
                                </h5>

                                <div class="alert alert-info">
                                    <p><strong>METAR:</strong> {{ flightPlan.departureAirport.metar }}</p>
                                    <p><strong>TAF:</strong> {{ flightPlan.departureAirport.taf }}</p>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-lg-6">
                        <mat-card class="airport-card my-2">
                            <mat-card-content>
                                <h3 class="text-center">{{ flightPlan.arrivalAirport.name }}</h3>
                                <h5 class="text-center">{{ flightPlan.arrivalAirport.city }} {{
                                    flightPlan.arrivalAirport.country }},
                                    Kod ICAO: {{ flightPlan.arrivalAirport.icao }}
                                </h5>

                                <div class="alert alert-info">
                                    <p><strong>METAR:</strong> {{ flightPlan.arrivalAirport.metar }}</p>
                                    <p><strong>TAF:</strong> {{ flightPlan.arrivalAirport.taf }}</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>


                <mat-card class="my-3">
                    <mat-card-content> 
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-center">
                                    <strong>Planowana data startu:</strong>
                                    {{ flightPlan.flightDay }} - {{ flightPlan.departureTime }}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-center">
                                    <strong>Zadeklarowana długość lotu:</strong>
                                    {{ flightPlan.flightDuration }}
                                </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="my-3">
                    <mat-card-content>
                        <markdown class="markdown" [data]="flightPlan.aiJustification.response"></markdown>
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-card-content>
    </mat-card>
</div>