<div class="custom-container">
    <mat-card class="main-card">
        <mat-card-content>

            <div *ngIf="isLoading">
                <h4 class="text-center">
                    <img src="./images/airplane.png" alt="person" class="icon">
                    Pobieranie danych pogodowych...
                </h4>
                <div class="my-4">
                    <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
            </div>

            <div class="mb-3">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                </div>
            </div>

            <div *ngIf="!isLoading && flightPlan">
                <div class="alert alert-success text-center">
                    <h4 class="mt-2">Dane dotyczące planowanego lotu:</h4>
                </div>
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-center">
                                <strong>Planowana data startu:</strong>
                                {{ flightPlan.flightDay }} - {{ flightPlan.departureTime }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center">
                                <strong>Zadeklarowana długość lotu:</strong>
                                {{ flightPlan.flightDuration }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-card class="airport-card">
                            <mat-card-content>
                                <h4 class="text-center">Lotnisko startu: {{ flightPlan.departureICAO }}</h4>
                                <div class="alert alert-info">
                                    <p><strong>METAR:</strong> {{ flightPlan.departureMETAR }}</p>
                                    <p><strong>TAF:</strong> {{ flightPlan.departureTAF }}</p>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-lg-6">
                        <mat-card class="airport-card">
                            <mat-card-content>
                                <h4 class="text-center">Lotnisko docelowe: {{ flightPlan.arrivalICAO }} </h4>
                                <div class="alert alert-info">
                                    <p><strong>METAR:</strong> {{ flightPlan.arrivalMETAR }}</p>
                                    <p><strong>TAF:</strong> {{ flightPlan.arrivalTAF }}</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>