@use '@angular/material' as mat;

body {
    height: 100%;
    background-image: url("/images/desktop.jpg");
    /* Obraz poziomy dla szerokich ekranów */
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    font-size: 12px;
}

app-root {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

mat-form-field {
    width: 100%;
}

/* Media query dla wąskich ekranów (np. telefonów) */
@media (max-width: 768px) {

    body {
        background-image: url("/images/mobile.jpg");
        /* Obraz pionowy dla wąskich ekranów */
        background-size: cover;
        background-position: center;
    }

    mat-card {
        margin: 1rem;
    }
}

:root {
    @include mat.form-field-overrides((container-text-size: 15px));

    @include mat.tooltip-overrides((supporting-text-size: 12px,
            supporting-text-line-height: 20px));

    @include mat.table-overrides((background-color: white,
            header-headline-color: rgb(0, 15, 151),
            header-headline-size: 15px,
            row-item-label-text-size: 12px));

    @include mat.paginator-overrides((container-background-color:white,
            container-text-size: 15px,
            select-trigger-text-size: 15px));
}