<div *ngIf="isLoading" class="mat-spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="custom-container">
    <mat-card>
        <mat-card-content>

            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-lg-1">
                        <div (click)="openAircraftAddComponent()" matTooltip="Dodaj samolot" matTooltipPosition="above">
                            <img src="./images/add-button.png" alt="Dodaj samolot" class="add-icon">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h2 class="text-center mt-3">Lista samolotów</h2>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Wyszukaj samolot</mat-label>
                            <input matInput type="text" formControlName="query">
                            <mat-error *ngIf="searchForm.controls['query'].hasError('required')" class="mat-error">
                                Podaj wyszukiwaną frazę
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <hr class="my-4">

            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Kolumna Numer porządkowy -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let aircraft; let i = index">
                            {{ rowNumber + i + 1 }}
                        </td>
                    </ng-container>

                    <!-- Kolumna Nazwa skrócona -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa skrócona </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.name }}
                        </td>
                    </ng-container>

                    <!-- Kolumna Producent -->
                    <ng-container matColumnDef="manufacturer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Producent </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.manufacturer }}
                        </td>
                    </ng-container>

                    <!-- Kolumna Model -->
                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.model }}
                        </td>
                    </ng-container>

                    <!-- Kolumna Prędkość przelotowa -->
                    <ng-container matColumnDef="cruiseSpeed">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prędkość przelotowa </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.cruiseSpeed }} knots
                        </td>
                    </ng-container>

                    <!-- Kolumna Zasięg -->
                    <ng-container matColumnDef="range">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zasięg </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.range }} NM
                        </td>
                    </ng-container>

                    <!-- Kolumna Maksymalny komponent wiatru -->
                    <ng-container matColumnDef="maxCrosswind">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Maksymalny komponent wiatru </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.maxCrosswind }} knots
                        </td>
                    </ng-container>

                    <!-- Kolumna Data dodania -->
                    <ng-container matColumnDef="dateAdded">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data dodania </th>
                        <td mat-cell *matCellDef="let aircraft">
                            {{ aircraft.dateAdded | date: 'dd-MM-yyyy HH:mm' }}
                        </td>
                    </ng-container>

                    <!-- Kolumna Akcje -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Akcje </th>
                        <td mat-cell *matCellDef="let aircraft">
                            <img src="./images/edit.png" alt="Edytuj" class="user-icon" matTooltip="Edytuj"
                                matTooltipPosition="above" (click)="openAircraftEditComponent(aircraft)">
                            <img src="./images/delete.png" alt="Usuń" class="delete-icon" matTooltip="Usuń"
                                matTooltipPosition="above" (click)="onDeleteAircraft(aircraft.id)">
                        </td>

                    </ng-container>

                    <!-- Nagłówki i dane tabeli -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <!-- Paginacja -->
            <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
                showFirstLastButtons (page)="onPageChange($event)">
            </mat-paginator>

        </mat-card-content>
    </mat-card>
</div>